<div class="container" *ngIf="authService.userData as user">
  <nav
    style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
      );
    "
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="main/../../../..">Forum Main</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="../..">{{ topics$?.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ thread?.title }}
      </li>
    </ol>
  </nav>
  <div class="thread-header">
    <h2 class="thread-name">{{ thread?.title }}</h2>
    <p class="date-posted" *ngIf="thread?.dateCreated">
      Date posted:
      {{ thread?.dateCreated?.seconds * 1000 | date: "yyyy-MM-dd h:mm a" }}
    </p>
    <p class="original-poster" *ngIf="displayName">
      Original Poster: <strong>{{ displayName }}</strong>
    </p>
    <button type="button" class="btn btn-md btn-dark" (click)="onReplyClick()">
      Reply to thread
    </button>
    <button
      type="button"
      class="btn btn-md btn-danger"
      *ngIf="currentUserID === thread.poster || isAdmin"
    >
      Delete thread
    </button>
  </div>
  <app-forum-thread-block
    [replies$]="replies$"
    [p]="page"
    (quotedReply)="onReply($event)"
  ></app-forum-thread-block>
  <app-forum-thread-reply
    *ngIf="replyClicked"
    [quotedReply]="replies$[quotedIndex]"
    (onClose)="onReplyClose($event)"
    (success)="onReplySuccess()"
  ></app-forum-thread-reply>
  <div
    class="d-flex justify-content-center"
    *ngIf="replies$.length > itemsPerPage"
  >
    <pagination-controls (pageChange)="goToTop($event)"></pagination-controls>
  </div>
</div>
