<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-warning">
        <h5 class="modal-title" id="exampleModalLabel">Delete Topic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <p>Are you sure you want to delete {{ topicTitle }} topic?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" (click)="onDelete(topicId)" data-bs-dismiss="modal" 
          *ngIf="operation=='1'"
        >Delete Topic</button>
        <button type="submit" class="btn btn-danger" (click)="onDelete(topicId)" data-bs-dismiss="modal" 
          *ngIf="operation == '2'"
          routerLink="../.."
        >Delete Topic</button>
      </div>
    </div>
</div>