<div class="back">
  <a routerLink="login/.."><fa-icon [icon]="faArrowLeft"></fa-icon></a>
</div>
<div class="register">
  <form [formGroup]="form" class="form-register" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="E-mail address"
        formControlName="email"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
      </div>
      <input
        type="displayname"
        id="inputDisplayName"
        class="form-control"
        placeholder="Display name"
        formControlName="displayName"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><fa-icon [icon]="faLock"></fa-icon
        ></span>
      </div>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><fa-icon [icon]="faLock"></fa-icon
          ></span>
        </div>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm password"
          formControlName="confirmPass"
        />
      </div>
    <button class="btn btn-lg btn-dark btn-block" type="submit" [disabled]="!form.valid">
      Create account
    </button>
  </form>
</div>
