.overall-block{
    height: 100px;
    border-top-width: 1px;
    border-color: rgb(47, 47, 47);
    align-items: center;
}

.block-topic{
    width: 60%;
    /* background-color: darksalmon; */
    display: flex;
    align-items: center;
}

.custom-bg{
    background-color:rgb(5, 32, 51);
    /* background-color:rgb(6, 31, 49); */
  }

.topt{
    font-size: 40px;
    font-weight: bold;
}

.tname{
    font-size: 25px;
    /* background-color: rgb(38, 125, 128); */
}

.block-opt{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block-below{
    /* background-color: cornflowerblue; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    vertical-align:middle;

}

/* .user{
    background-color:darkseagreen;
} */
.user-avatar{
    min-width: 70px;
    width: 70px;
    height: 70%;
}

.user-details{
    /* background-color:ghostwhite; */
    align-items: center;
    margin-left: 4%;
    width: 100%;
    font-size: 12px;
}

.whole-div{
    padding-top: 20px;
    margin-top: 20px;
}


.user-image > img,
thread-info > p {
  float: left;
}

.user-image > img {
  height: 40px;
  width: 40px;
  margin-right: 2%;
  
}


.user{
    vertical-align: middle;
}

.user-cell{
    width: 100%;
}

.lastReply{
font-size: 13px;
}

.user-details  p{
    margin:0;
}