<div class="whole-div container" *ngIf="authService.userData as user">
  <nav
    style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
      );
    "
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="navItem" routerLink="main/../..">Forum Main</a>
      </li>
      <li class="breadcrumb-item navTopicName">
        {{ topics$.name }}
      </li>
    </ol>
  </nav>

  <div class="topicName">
    <p>{{ topics$.name }}</p>
  </div>
  <div class="topicDescription">
    <p>{{ description }}</p>
  </div>

  <button
    data-bs-toggle="modal"
    data-bs-target="#createThread"
    class="btn btn-dark createThreadButton"
  >
    Create Thread
  </button>
  <button
    data-bs-toggle="modal"
    data-bs-target="#deleteTopic"
    class="btn btn-danger createThreadButton"
    *ngIf="isAdmin"
  >
    Delete Topic
  </button>

  <table class="table table-borderless">
    <div *ngIf="threads$.length == 0" class="emptyThread">
      <p>No threads created</p>
    </div>
    <tbody
      *ngFor="let thread of threads$; index as i"
      class="d-flex overall-block"
    >
      <td class="block-topic justify-content-between px-3">
        <div class="block-topic-name text-light">
          <tr class="tb-row">
            <p class="tname">
              <a
                [routerLink]="['./thread', thread.threadID]"
                routerLinkActive="router-link-active"
                >{{ thread.title }}</a
              >
            </p>
            <p class="posterName">
              by <span class="posterName2">{{ posters[i] }}</span>
            </p>
            <p class="posterName" *ngIf="thread?.dateCreated">
              <span class="posterName2">
                {{
                  thread?.dateCreated?.seconds * 1000
                    | date: "yyyy-MM-dd h:mm a"
                }}
              </span>
            </p>
          </tr>
        </div>
      </td>

      <td class="block-below">
        <div *ngIf="replies$[i] && authors[i]" class="user-cell">
          <tr class="text-secondary">
            <td class="user">
              <div class="user-image">
                <img
                  src="/assets/images/default-icon.png"
                  class="img-thumbnail rounded-circle"
                />
              </div>
            </td>
            <td>
              <div class="user-details">
                <a href="" [routerLink]="['./thread', thread.threadID]">
                  <p class="lastReply">
                    Last reply:

                    {{
                      replies$[i]?.message.length > 30
                        ? (replies$[i]?.message | slice: 0:30) + "..."
                        : replies$[i]?.message
                    }}
                  </p>
                  <p class="lastDatePosted" *ngIf="replies$[i]?.datePosted">
                    {{
                      replies$[i]?.datePosted?.seconds * 1000
                        | date: "yyyy-MM-dd h:mm a"
                    }}
                  </p>
                  <p class="lastUser">From:{{ authors[i] }}</p>
                </a>
              </div>
            </td>
          </tr>
        </div>
      </td>

      <td class="block-opt text-light">
        <div *ngIf="currentUserID === thread.poster || isAdmin">
          <p class="topt" (click)="onClickEdit(i)" (click)="goToBottom()">
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </p>
        </div>
      </td>
    </tbody>
  </table>
  <div *ngIf="inEdit == 1">
    <app-forum-topic-thread-edit
      (editStatus)="editComplete($event)"
      [threadToEdit]="threadToEdit"
    ></app-forum-topic-thread-edit>
  </div>
</div>

<div
  class="modal fade"
  id="createThread"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <app-forum-topic-thread-add></app-forum-topic-thread-add>
</div>

<div class="modal fade" id="deleteTopic" tabindex="-1" aria-hidden="true">
  <app-forum-delete
    [operation]="operation"
    [topicId]="topicID$"
    [topicTitle]="topics$.name"
  ></app-forum-delete>
</div>
