.user-avatar > img {
  height: 140px;
  width: 150px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-avatar > .rounded-circle {
  border: 1px solid rgb(218, 218, 218);
}

.user-details {
  padding-top: 10%;
}

.user-details > .display-name-long > h3 {
  float: left;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-details > .display-name > h3 {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-address > p {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-details > h3 > .display-name > div {
  float: left;
}

.user-details > div > h3 {
  font-weight: 700;
  font-size: 18pt;
  margin: 0;
  padding: 0;
}

.user-details > div > .banned,
.reply-to > .banned {
  color: red;
  text-decoration: line-through;
}

.user-details > p {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 11.5pt;
}

.user-cell {
  min-width: 200px;
  width: 200px;
  height: 200px;
  padding: 1%;
}

.message {
  padding: 1%;
  padding-top: 2%;
  margin-bottom: 2%;
}

.footer {
  margin-bottom: 2%;
  padding: 1%;
}

.reply {
  margin: 1%;
  background-color: rgb(255, 221, 129);
  border-radius: 10px;
  width: auto;
}

.reply > .reply-to {
  padding: 2%;
  padding-bottom: 0;
}

.reply > .quote-text {
  padding-left: 2%;
  padding-bottom: 2%;
}

.table {
  margin: 0;
  padding: 0;
  height: auto;
}

.date-posted > p {
  margin: 0;
  font-size: 11.5pt;
  padding-left: 1%;
  color: gray;
}

.date-posted > p > .clock-icon {
  color: black;
  padding-right: 0.5%;
}

.reply-icon,
.comment-icon {
  padding-right: 0.5%;
}

.footer > a {
  margin-right: 1%;
}

.ban-icon > fa-icon {
  color: red;
  font-size: 12pt;
}

.unban-icon > fa-icon {
  color: black;
  font-size: 12pt;
}

.ban-user {
  margin-top: 1%;
}
