<table class="table table-bordered">
  <tbody
    *ngFor="
      let reply of replies$
        | paginate: { itemsPerPage: itemsPerPage, currentPage: page };
      index as i
    "
  >
    <tr>
      <td scope="col"></td>
      <td scope="col-6">
        <div class="date-posted" *ngIf="reply?.datePosted">
          <p>
            <span class="clock-icon">
              <fa-icon [icon]="faClock"></fa-icon> </span
            >{{ !reply?.lastEdit ? "Date posted: " : "Edited: " }}
            {{
              (!reply?.lastEdit
                ? reply?.datePosted?.seconds
                : reply?.lastEdit?.seconds) * 1000 | date: "yyyy-MM-dd h:mm a"
            }}
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="user-cell">
        <div class="user">
          <div class="user-avatar">
            <img
              src="{{
                from$[(page - 1) * itemsPerPage + i]?.photoURL
                  ? from$[(page - 1) * itemsPerPage + i]?.photoURL
                  : '/assets/images/default-icon.png'
              }}"
              class="img-thumbnail rounded-circle"
            />
          </div>
          <div class="user-details" *ngIf="from$ && from$.length > 0">
            <div
              [ngClass]="
                isAdmin &&
                from$[(page - 1) * itemsPerPage + i]?.displayName.length > 8
                  ? 'display-name-long'
                  : 'display-name'
              "
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              [title]="!from$[(page - 1) * itemsPerPage + i]?.isBanned ? from$[(page - 1) * itemsPerPage + i]?.displayName : 'User is banned'"
            >
              <h3
                [ngClass]="
                  from$[(page - 1) * itemsPerPage + i]?.isBanned ? 'banned' : ''
                "
              >
                {{ from$[(page - 1) * itemsPerPage + i]?.displayName }}
              </h3>
            </div>
            <div class="ban-user">
              <a
                href="javascript:void(0)"
                (click)="
                  onBan(reply.from, from$[(page - 1) * itemsPerPage + i])
                "
                [ngClass]="
                  !from$[(page - 1) * itemsPerPage + i]?.isBanned
                    ? 'ban-icon'
                    : 'unban-icon'
                "
                data-bs-toggle="modal"
                data-bs-target="#ban-modal"
                *ngIf="
                  isAdmin && !from$[(page - 1) * itemsPerPage + i]?.isAdmin
                "
              >
                <fa-icon [icon]="faUserSlash"></fa-icon>
              </a>
            </div>
            <div class="email-address">
              <p>{{ from$[(page - 1) * itemsPerPage + i]?.email }}</p>
            </div>
          </div>
        </div>
      </td>
      <td class="message-cell">
        <div class="reply" *ngIf="to$[(page - 1) * itemsPerPage + i]">
          <p class="reply-to">
            <span class="comment-icon">
              <fa-icon [icon]="faCommentDots"></fa-icon> </span
            ><strong
              [ngClass]="
                to$[(page - 1) * itemsPerPage + i]?.isBanned ? 'banned' : ''
              "
              >{{ to$[(page - 1) * itemsPerPage + i]?.displayName }}</strong
            >
            wrote:
          </p>
          <p
            class="quote-text"
            *ngIf="to$[(page - 1) * itemsPerPage + i]?.message"
          >
            {{ to$[(page - 1) * itemsPerPage + i]?.message }}
          </p>
          <p
            class="quote-text"
            *ngIf="!to$[(page - 1) * itemsPerPage + i]?.message"
          >
            <i>Reply has been deleted.</i>
          </p>
        </div>
        <div class="message">
          <p>
            {{ reply?.message }}
          </p>
        </div>
        <div class="footer">
          <a
            href="javascript:void(0)"
            (click)="onReply((page - 1) * itemsPerPage + i)"
            class="reply-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faReply"></fa-icon> </span
            >Reply</a
          >
          <a
            href="javascript:void(0)"
            *ngIf="currentUserID === reply.from"
            (click)="onEdit(reply)"
            class="edit-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faEdit"></fa-icon> </span
            >Edit</a
          >
          <a
            href="javascript:void(0)"
            *ngIf="
              reply.replyID != firstReply &&
              (currentUserID === reply.from || isAdmin)
            "
            data-bs-toggle="modal"
            data-bs-target="#delete-modal"
            (click)="
              onDelete(reply, from$[(page - 1) * itemsPerPage + i].displayName)
            "
            class="delete-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faDelete"></fa-icon> </span
            >Delete reply</a
          >
        </div>
      </td>
    </tr>
    <tr *ngIf="reply === replyToEdit">
      <td></td>
      <td>
        <app-forum-thread-edit
          *ngIf="editClicked"
          [replyToEdit]="replyToEdit"
          (onClose)="onEditClose($event)"
        >
        </app-forum-thread-edit>
      </td>
    </tr>
  </tbody>
</table>
<app-admin-ban-user
  *ngIf="toBan"
  [user]="toBan"
  (banSuccess)="onBanSuccess($event)"
></app-admin-ban-user>
<app-forum-thread-delete-reply
  *ngIf="replyToDelete"
  [reply]="replyToDelete"
  [from]="fromReplyToDelete"
  (success)="onDeleteSuccess()"
></app-forum-thread-delete-reply>
