<table class="table table-bordered">
  <tbody>
    <tr>
      <td scope="col"></td>
      <td scope="col-6">
        <div class="date-posted">
          <p>
            <span class="clock-icon">
              <fa-icon [icon]="faClock"></fa-icon> </span
            >Date posted: {{ reply.datePosted.seconds * 1000 | date: "yyyy-MM-dd h:mm a" }}
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="user-cell">
        <div class="user">
          <div class="user-avatar">
            <img
              src="{{
                from.photoURL
                  ? from.photoURL
                  : '/assets/images/default-icon.png'
              }}"
              class="img-thumbnail rounded-circle"
            />
          </div>
          <div class="user-details">
            <h3>{{ from.displayName }}</h3>
            <p>{{ from.email }}</p>
          </div>
        </div>
      </td>
      <td class="message-cell">
        <div class="reply" *ngIf="reply.to">
          <p class="reply-to">
            <span class="comment-icon">
              <fa-icon [icon]="faCommentDots"></fa-icon> </span
            ><strong>{{ to.displayName }}</strong> wrote:
          </p>
          <p class="quote-text">
            {{ to.message }}
          </p>
        </div>
        <div class="message">
          <p>
            {{ reply.message }}
          </p>
        </div>
        <div class="footer">
          <a href="javascript:void(0)" (click)="onReply(index)" class="reply-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faReply"></fa-icon> </span
            >Reply</a
          >
          <a href="javascript:void(0)" *ngIf="currentUserID === reply.from" class="edit-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faEdit"></fa-icon> </span
            >Edit</a
          >
          <a href="javascript:void(0)" *ngIf="currentUserID === reply.from" class="delete-link"
            ><span class="reply-icon">
              <fa-icon [icon]="faDelete"></fa-icon> </span
            >Delete reply</a
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>
