<table class="table table-bordered">
  <tbody *ngFor="let reply of replies$">
    <tr>
      <td scope="col"></td>
      <td scope="col-6">
        <div class="date-posted">
          <p>
            <span class="clock-icon">
              <fa-icon [icon]="faClock"></fa-icon> </span
            >Date posted: 2021-11-03 at 6:01 PM
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="user-cell">
        <div class="user">
          <div class="user-avatar">
            <img
              src="assets/images/default-icon.png"
              class="img-thumbnail rounded-circle"
            />
          </div>
          <div class="user-details">
            <h3>{{ reply.from }}</h3>
            <p>{{ reply.from }}s</p>
          </div>
        </div>
      </td>
      <td class="message-cell">
        <div class="reply" *ngIf="reply.to">
          <p class="reply-to">
            <span class="comment-icon">
              <fa-icon [icon]="faCommentDots"></fa-icon> </span
            ><strong>User</strong> wrote:
          </p>
          <p class="reply-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="message">
          <p>
            {{ reply.message }}
          </p>
        </div>
        <div class="footer">
          <a href="#"
            ><span class="reply-icon">
              <fa-icon [icon]="faReply"></fa-icon> </span
            >Reply</a
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--
      <td class="message-cell">
        <div class="reply">
          <p class="reply-to">
            <span class="comment-icon">
              <fa-icon [icon]="faCommentDots"></fa-icon> </span
            ><strong>User</strong> wrote:
          </p>
          <p class="reply-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="message">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="footer">
          <a href="#"
            ><span class="reply-icon">
              <fa-icon [icon]="faReply"></fa-icon> </span
            >Reply</a
          >
        </div>
      </td>
-->
