.edit {
  color: lightblue;
  text-decoration-line: underline;
}

/* tbody{
    width: 100%;
    display:block;
    border-width: 1px;
    border-style: groove;
    border-collapse: separate;
    border-spacing: 4px; 
} */

.overall-block {
  height: 100px;
  border-top-width: 1px; 
}

.block-topic {
  width: 60%;
  /* background-color: darksalmon; */
}

.block-topic-name {
  /* background-color: rgb(35, 24, 129); */
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.block-below {
  /* background-color: gold; */
  height: 60%;
}

.block-opt {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tname {
  font-size: 25px;
  color:black;
  font-weight: 500;
  /* background-color: rgb(38, 125, 128); */
}

.tdesc {
  width: 100%;
  /* background-color: burlywood; */
  font-size: 15px;
}

.tlast {
  margin-top: 1.5%;
  color: lightblue;
  width: 30%;
  /* background-color: coral; */
}

.last-thread > .thread-info > a > p {
  margin: 0;
  padding: 0;
  font-size: 11pt;
}

.user-image > img,
thread-info > p {
  float: left;
}

.user-image > img {
  height: 40px;
  width: 40px;
  margin-right: 2%;
}

.last-thread {
  width: 100%;
}

.tb-row {
  /* background-color: crimson; */
  height: 100%;
  display: inline-flex;
}

.topt {
  font-size: 40px;
  font-weight: bold;
  color: gray;
}

.custom-bg {
  background-color: rgb(5, 32, 51);
  /* background-color:rgb(6, 31, 49); */
}

button {
  margin-bottom: 25px;
}