<div class="user-list">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Topic</th>
        <th scope="col">Description</th>
        <th scope="col">Access</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topic of topic$; index as i">
        <th scope="row">{{ topic.name }}</th>
        <td>{{ topic.description }}</td>
        <td>{{ topic.access }}</td>
        <td
          class="edit"
          (click)="onClick(i)"
        >
          Edit
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="inEdit">
  <app-forum-edit-topic 
    (editStatus)="editComplete($event)"
    [topicToEdit]="topicToEdit"
  ></app-forum-edit-topic>
</div>
 



