.modal-dialog{
    min-width: 800px;
    height: 400px;
    margin: auto;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;

}

button{
    margin-left: 10px ;
}

.custom-bg{
    background-color:rgb(5, 32, 51);
    /* background-color:rgb(6, 31, 49); */
}

.custom-field-bg{
    background-color:rgb(4, 28, 46);
    color: white;
}