<div class="container" *ngIf="authService.userData as user">
  <div class="header">
    <h3>Admin Dashboard</h3>
    <p>User List:</p>
  </div>
  <div class="user-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">uid</th>
          <th scope="col">E-mail address</th>
          <th scope="col">Display name</th>
          <th scope="col">Password</th>
          <th scope="col">Date Registered</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let user of users$
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page
                };
          index as i
        "
      >
        <tr [ngClass]="user.isBanned ? 'info-row-banned' : ''">
          <th scope="row">{{ user.uid }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.displayName }}</td>
          <td>
            <div class="password">{{ user.password }}</div>
          </td>
          <td>{{ user.dateRegistered.seconds * 1000 | date: "MMMM d, y" }}</td>
          <td class="actions">
            <a
              href="javascript:void(0)"
              (click)="onClick((page - 1) * itemsPerPage + i)"
              data-bs-toggle="modal"
              data-bs-target="#ban-modal"
            >
              <span [ngClass]="!user.isBanned ? 'ban-icon' : 'unban-icon'">
                <fa-icon [icon]="faUserSlash"></fa-icon>
              </span>
              <br />
              {{ !user.isBanned ? "Ban User" : "Unban User" }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="page = $event"
        *ngIf="users$.length > itemsPerPage"
      ></pagination-controls>
    </div>
  </div>
  <app-admin-ban-user *ngIf="toBan" [user]="toBan"></app-admin-ban-user>
</div>
