<div class="text-welcome">
  <h1>Boards of Wharfedale</h1>
  <h3>Welcome!</h3>
</div>
<div class="signin">
  <form [formGroup]="form" class="form-signin" (ngSubmit)="onSubmit()">
    <h1>Sign-in</h1>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
      </div>
      <input
        type="username"
        id="username"
        class="form-control"
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><fa-icon [icon]="faLock"></fa-icon
        ></span>
      </div>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <a routerLink="/register" class="create-account">Don't have an account?</a>
    <button class="btn btn-lg btn-dark btn-block" type="submit" [disabled]="!form.valid">Sign in</button>
  </form>
</div>