<div class="text-welcome">
  <h1>Boards of Wharfedale</h1>
  <h3>Welcome!</h3>
</div>
<div class="signin">
  <form
    [formGroup]="form"
    class="form-signin needs-validation"
    novalidate
  >
    <h1>Sign-in</h1>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend has-validation">
        <span class="input-group-text" 
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
      </div>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="E-mail address"
        formControlName="email"
        [ngClass]="{ 'is-invalid': buttonPressed && email.invalid }"
        required
      />
    </div>
    <div class="text-danger" *ngIf="email.errors?.required && buttonPressed">
      E-mail is required.
    </div>
    <div class="text-danger" *ngIf="email.errors?.email && buttonPressed">
      Invalid e-mail address.
    </div>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend has-validation">
        <span class="input-group-text"
          ><fa-icon [icon]="faLock"></fa-icon
        ></span>
      </div>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': buttonPressed && password.invalid }"
        required
      />
    </div>
    <div class="text-danger" *ngIf="password.errors?.required && buttonPressed">
      Password is required.
    </div>
    <div
      class="text-danger"
      *ngIf="password.errors?.minlength && buttonPressed"
    >
      Password should be 6 characters long.
    </div>
    <a routerLink="/register" class="create-account">Don't have an account?</a>
    <button class="btn btn-lg btn-dark btn-block" type="button" (click)="onSubmit()">Sign in</button>
  </form>
</div>
