<div class="modal-dialog" id="the-modal">
    <div class="modal-content">
        <div class="modal-header modal-header-warning">
            <h1>Create a Thread</h1>
            <button type="button" class="btn-close" (click)="onClose()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="main-div">
                <form 
                [formGroup]="form"
                class="text-center"
                >
                    <div class="input-group form-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title: </span>
                        </div>
                        <input type="text" class="form-control" formControlName="title" id="title">
                    </div>

                    <div class="errorMessage" *ngIf="form.controls.title.errors?.pattern" >Thread title is Invalid</div>
                    <div class="errorMessage" *ngIf="form.controls.title.errors?.required && form.controls.title.touched">Thread title is Required</div> 
                    <div class="errorMessage" *ngIf="form.controls.title.errors?.minlength" >Thread title is too short</div>
                    <div class="errorMessage" *ngIf="form.controls.title.errors?.maxlength" >Thread title character limit has exceeded</div>

                </form>
                <form 
                [formGroup]="replyForm"
                class="text-center"
                >
                    <div class="input-group form-group mb-3">
                        <textarea type="text" class="form-control" formControlName="message" id="reply" rows="4" cols="10" placeholder="First Message..."></textarea>
                    </div>

                    <div class="errorMessage" *ngIf="replyForm.controls.message.errors?.minlength" >Reply is too short</div>
                    <div class="errorMessage" *ngIf="replyForm.controls.message.errors?.required && replyForm.controls.message.touched">A first message is Required</div>

                    <button 
                        type="button" 
                        class="btn btn-dark" 
                        (click)="onSubmit()" 
                        data-bs-dismiss="modal"
                        [disabled]="!form.valid || !replyForm.valid"
                        > Create Thread</button>
                    <button type="button" class="btn btn-secondary" (click)="onClose()" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>