<div class="header-wrap" *ngIf="authService.userData">
  <div class="wrapper">
    <span class="banner-logo"><img src="assets/images/banner-logo.png" /></span>
    <h1 class="header-title noselect">Boards of Wharfedale</h1>
    <p class="header-subtitle noselect">Online Message Boards</p>
    <br />
  </div>
</div>
<hr />
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  *ngIf="authService.userData"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="main"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isAdmin"
            routerLinkActive="active"
            routerLink="/admin"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#account-modal"
            href=""
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<app-banned *ngIf="isBanned"></app-banned>
<app-user-profile
  *ngIf="authService.userData as user"
  [user]="user"
></app-user-profile>
<router-outlet *ngIf="!isBanned"></router-outlet>
