body {
    font-family: 'Inter', sans-serif;
}

.container-fluid {
    width: 100%;
    height: 100vh;
}

.left-pane {
    min-height: 100vh;
    width: 55%;
    background-color: rgb(255, 203, 61);
}

.left-pane > .header {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.right-pane {
    min-height: 100vh;
    width: 45%;
}