<div class="container-fluid">
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <span>
            Hello
            <strong>{{ user.displayName }}</strong
            >!
          </span>
        </div>
      </div>
    </div>
  </div>
  <h1>-- Forum Content Here --</h1>
  <a
    routerLinkActive="active"
    routerLink="/thread"
    >Go to thread</a
  >

  <app-forum-topics></app-forum-topics>
</div>
