<div class="container-fluid">
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <span>
            Display Name:
            <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
          </span>
          <span>
            User ID: <strong>{{ user.uid }}</strong>
          </span>
          <span>
            Email: <strong>{{ user.email }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
  <h1>-- Forum Content Here --</h1>
</div>
