<div class="container"*ngIf="authService.userData as user">
  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <span>
            Hello
            <strong>{{ user.displayName }}</strong
            >!
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="threads" *ngFor="let thread of threads$">
    <!--route to /thread/threadID-->
    <a routerLinkActive="active" [routerLink]="['/thread', thread.threadID]">{{
      thread.title
    }}</a>
  </div>

  <button 
  data-bs-toggle="modal"
  data-bs-target="#createTopic"
 >Create Topic
</button>

  <app-forum-topics *ngIf="authService.userData"></app-forum-topics>
</div>

<div
  class="modal fade"
  id="createTopic"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <app-forum-create-topic></app-forum-create-topic>
</div>
