.container {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 2%;
}

span {
    margin-right: 2%;
}

/*.header-wrap {
    height: 25vh;
    width: 100%;
    background-color: rgb(255, 203, 61);
}

.header-title {
    text-align: center;
    padding-top: 5%;
    font-size: 56pt;
    letter-spacing: 25pt;
}*/


/* .custom-bg{
    background-color:rgb(4, 28, 46);
} */

.date {
    margin: 0;
    padding: 0;
}