<div>
    <div class="modal-content">
        <div class="modal-header ">
            <h1>Edit Thread</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onClose()" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <div class="main-div">
                <form 
                class="text-center"
                [formGroup]="editForm"
                (ngSubmit)="onSubmitChanges()"
                >
                    <div class="input-group form-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">Title: </span>
                        </div>
                        <input type="text" class="form-control " formControlName="title" >
                    </div>

                    <div class="errorMessage" *ngIf="editForm.controls.title.errors?.pattern" >Thread title is Invalid</div>
                    <div class="errorMessage" *ngIf="editForm.controls.title.errors?.required && editForm.controls.title.touched">Thread title is Required</div> 
                    <div class="errorMessage" *ngIf="editForm.controls.title.errors?.minlength" >Thread title is too short</div>
                    <div class="errorMessage" *ngIf="editForm.controls.title.errors?.maxlength" >Thread title character limit has exceeded</div>


                    <button type="submit" [disabled]="!editForm.valid" class="btn btn-dark" > Save Changes</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteThread" >Delete Thread</button>
                    <button type="button" class="btn btn-secondary" (click)="onClose()" >Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteThread" tabindex="-1" aria-labelledby="deleteTopicLabel" aria-hidden="true">
    <app-forum-topic-thread-delete
    [threadID] = "threadToEdit.threadID"
    [topicID] = "topicID$"
    [threadTitle] = "threadToEdit.title"
    (editStatus)="editComplete($event)"
    ></app-forum-topic-thread-delete>
</div>

