<div class="custom-bg">
    <div class="modal-content">
        <div class="modal-header custom-field-bg">
            <h1>Edit Topic</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body custom-bg">
            <div class="main-div">
                <form 
                class="text-center"
                
                
                >
                    <div class="input-group form-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text custom-field-bg">Title: </span>
                        </div>
                        <input type="text" class="form-control custom-field-bg" formControlName="name" >
                    </div>
                    <div class="input-group form-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text custom-field-bg"> Description: </span>
                        </div>
                        <input type="text" class="form-control custom-field-bg" formControlName="description">
                    </div>
                    <div class="input-group form-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text custom-field-bg">Access: </span>
                        </div>
                        <select class="form-control custom-field-bg" formControlName="access">
                            <option value="private">Private</option>
                            <option value="public">Public</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary" > Edit</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteThread" >Delete</button>
                    <button type="button" class="btn btn-primary" >Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteThread" tabindex="-1" aria-labelledby="deleteTopicLabel" aria-hidden="true">
    <app-forum-topic-thread-delete></app-forum-topic-thread-delete>
</div>

