<div class="modal fade" tabindex="-1" id="account-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header-warning">
        <h5 class="modal-title">My Account</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="user-avatar">
          <img
            class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{
              user.photoURL ? user.photoURL : '/assets/images/default-icon.png'
            }}"
          />
        </div>
        <div class="user-info">
          <p class="heading">Display Name:</p>
          <p class="display-name">{{ user.displayName }}</p>
          <p class="heading">E-mail address:</p>
          <p class="email-address">{{ user.email }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
